.container {
	border: solid var(--secondary-color) 5px;
	margin-top: 5%;

	max-width: 500px;
	padding: 25px 0;
}

.border {
	border: solid #333 2px;
}
.checkBox {
	border: solid #333 2px;
	margin-left: 5px;
	margin-right: 2px;
}

.group {
	margin: 0 25px;
}
input .requiredBorder[required] {
	border-color: 10px red;
}

.alertMessage {
	color: red;
}

.center {
	text-align: center;
}

.addEmployeeButton {
	margin-left: 10px;
	/* transform: translateY(-50%); */
	margin: 10px;
}
