.container {
	border: solid var(--secondary-color) 5px;
	margin-top: 5%;

	max-width: 500px;
	padding: 25px 0;
}

.border {
	border: solid #333 2px;
}
.checkBox {
	border: solid #333 2px;
	margin-left: 5px;
	margin-right: 2px;
}

.group {
	margin: 0 25px;
}
input .requiredBorder[required] {
	border-color: 10px red;
}

.alertMessage {
	color: red;
}

.center {
	text-align: center;
}

.addEmployeeButton {
	position: fixed;
	margin-left: 10px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 999; /* Ensure the button is above other elements */
	margin: 100px auto 0;
}
@media screen and (max-width: 800px) {
	.addEmployeeButton {
		left: auto;
		top: auto;
		transform: none;
		z-index: auto;
		margin: 100px auto 0;
	}

	.buttonContainer {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.background {
		position: fixed;
		margin: 40px 0;
		padding-bottom: 20px;
		top: 0;
		left: 0;
		width: 100%;
		height: 10%;
		background-color: rgba(
			57,
			55,
			55,
			0.9
		); /* Adjust the color and opacity as needed */
		z-index: 0; /* Place the background behind other elements */
	}

	/* Add this class to the element you want to have the background effect */
	.backgroundEffect {
		background-attachment: fixed;
	}
}
