.carouselContainer {
	max-width: 1000px;
	margin: auto;
	margin-top: 50px;
}

.carouselSection {
	margin-top: 50px;
	min-height: 600px;
}

.title {
	text-align: center;
}
/* 
.carouselControlPrevIcon,
.carouselControlNextIcon {
	background-color: gray;
} */

.carouselControlPrevIcon:after,
.carouselControlNextIcon:after {
	background-color: gold !important; /* Change the color of the icon inside the controls */
}

@media (max-width: 767px) {
	.carouselContainer {
		margin: 20px 50px 0 50px; /* Adjust the margin for mobile screens */
	}
	.carouselSection {
		min-height: 550px;
	}
}
