.carouselContainer {
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
}

.carouselSection {
	min-height: 600px;
	background-color: rgb(70, 69, 69);
	padding-bottom: 20px;
	align-content: center;
}

.cardWidth {
	width: 33%;
}

.title {
	text-align: center;
	padding-top: 20px;
}

.cardContainer {
	width: 18rem;
	margin: auto; /* Center horizontally */
	margin-bottom: 20px;
}

.carouselControlPrevIcon:after,
.carouselControlNextIcon:after {
	background-color: gold !important; /* Change the color of the icon inside the controls */
}
.scrollButoon {
	/* margin: auto; */
}

@media (max-width: 1200px) {
	.carouselContainer {
		max-width: 800px;
	}
	.cardContainer {
		width: 16rem;
	}
}

@media (max-width: 980px) {
	.carouselContainer {
		margin: auto;
		max-width: 750px;
	}
}
@media (max-width: 905px) {
	.carouselContainer {
		margin: auto;
		max-width: 500px;
	}
	.cardWidth {
		width: 50%;
	}
	.cardRow {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 600px;
	}
	.carouselSection {
		min-height: 550px;
	}
}

@media (max-width: 730px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 525px;
	}
	.carouselSection {
		min-height: 550px;
	}
}

@media (max-width: 640px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 275px;
	}
	.carouselSection {
		min-height: 550px;
	}
	.cardWidth {
		width: 100%;
	}
	.cardRow {
		width: 100%;
	}
}
@media (max-width: 577px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 275px;
	}
	.carouselSection {
		min-height: 550px;
	}
}

@media (max-width: 350px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 250px;
	}
	.carouselSection {
		min-height: 550px;
	}
}

@media (max-width: 315px) {
	.carouselContainer {
		margin: auto; /* Adjust the margin for mobile screens */
		max-width: 225px;
	}
	.carouselSection {
		min-height: 550px;
	}
}
