.trash {
	background-color: var(--third-color);
	border: none;
	color: red;
}

.green {
	background-color: green;
	text-decoration: none;
}

.employeeList {
	border: solid var(--secondary-color) 5px;
	margin-top: 5%;
	text-align: center;
	max-width: 500px;
	padding: 25px 0;
	border-radius: 10%;
}

@media screen and (max-width: 800px) {
	.employeeList {
		margin-top: 10%;
	}
}
