.backgroundColor {
	background-color: var(--third-color); /* Your desired color */
	color: var(--text-color); /* Adjust as needed */
	height: 93vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.centerContainer {
	display: flex;
	justify-content: center;
	align-items: center;
}

.formContainer {
	max-width: 400px;
	min-width: 400px;
	min-height: 500px;
	max-height: 100px;
	margin-bottom: 10%;
	color: var(--third-color);
	border: solid var(--primary-color) 5px;
	padding: 30px 40px;
	border-radius: 15%;
	margin: 20px;
}

.scrollableContainer {
	max-height: 325px;
	overflow-y: auto;
	overflow-x: hidden;
}

.centerTitle {
	text-align: center;
	margin: 5%;
}

.centerButton {
	display: flex;
	justify-content: center;
	width: 300px;
	margin-bottom: 20px;
}

.seperationLine {
	border-bottom: 1px solid #555;
	padding: 10px;
}

.checkBox {
	color: green !important;
}
.unCheckBox {
	height: 20px;
	width: 20px;
	background-color: white;
	border-radius: 15%;
}

.checkedCheckbox {
	height: 20px;
	width: 20px;
	background-color: #4caf50 !important;
	border-radius: 15%;
}

.clickEmployee:hover {
	cursor: pointer;
}

.selectEmp {
	width: 425px;
}

@media screen and (max-width: 540px) {
	.formContainer {
		max-width: 300px;
		min-width: 300px;
		min-height: 500px;
		max-height: 50px;
	}

	.formContainerMobile {
		max-width: 300px;
		min-width: 300px;
		min-height: 50vh;
		max-height: 50px;
	}

	.scrollableContainer {
		max-height: 35vh;
		overflow-y: auto;
		overflow-x: hidden;
	}
	.scrollableContainerMobile {
		max-height: 350px;
		overflow-y: auto;
		overflow-x: hidden;
	}

	.centerButton {
		width: 150px;
	}
}

@media screen and (min-height: 900px) {
	.scrollableContainerMobile {
		max-height: 300px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
@media screen and (min-height: 700px) and (max-height: 900px) {
	.scrollableContainerMobile {
		max-height: 290px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}

@media screen and (max-height: 700px) {
	.scrollableContainerMobile {
		max-height: 200px;
		overflow-y: auto;
		overflow-x: hidden;
	}
}
