.topRow {
	margin-top: 20px;
}

.backgroundColor {
	background-color: var(--third-color); /* Your desired color */
	color: var(--text-color); /* Adjust as needed */
	min-height: 100vh;
	height: 100%;
	display: flex; /* Add display flex */
	flex-direction: column; /* Ensure items are stacked vertically */
	align-items: center; /* Center items horizontally */
}

.container {
	background-color: #484747;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	width: 80%;
	max-width: 1000px;
	min-width: 300px;
	height: 40%;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employeeContainer {
	background-color: var(--third-color);
	max-width: 350px;
	min-width: 10%;
	height: 80%;
	border-radius: 10px;
	padding: 5px 0;
}

.centerButton {
	width: 140px;
	margin: 5px 0 15px 0;
}

.centerButtonContainer {
	display: flex;
	justify-content: center;
	margin: 20px;
}

.error {
	color: var(--secondary-color);
	font-size: 20px;
}
.enterHoursInbox {
	display: block;
	margin: 0 0 15px 0;
	width: 100%;
	border-radius: 5px;
	text-align: center;
	padding: 0.375rem 0.75rem;
	appearance: none;
	background-color: var(--bs-body-bg);
	background-clip: padding-box;
	border: var(--bs-border-width) solid var(--bs-border-color);
	border-radius: var(--bs-border-radius);
	transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.enterHoursInboxContainer {
	padding: auto;
	margin: 8px;
}
