.topRow {
	margin-top: 50px;
}

.backgroundColor {
	background-color: var(--third-color); /* Your desired color */
	color: var(--text-color); /* Adjust as needed */
	min-height: 100vh;
	height: 100%;
	display: flex; /* Add display flex */
	flex-direction: column; /* Ensure items are stacked vertically */
	align-items: center; /* Center items horizontally */
}

.container {
	background-color: #484747;
	margin: 10px auto;
	text-align: center;
	padding: 10px;
	width: 80%;
	max-width: 1000px;
	min-width: 300px;
	height: 70%;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.employeeContainer {
	background-color: var(--third-color);
	max-width: 350px;
	min-width: 10%;
	height: 90%;
	border-radius: 10px;
	padding: 5px;
}
