@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #ab4848;
	--secondary-color: #d02828;
	--third-color: #333;
	--text-color: #fff;
	--highlight: #00ffab;
	--button-green: #186f1c;
	--button-hover: #27b02e;
	--font-size: 20px;
}

/* :root {
	--primary-color: #27374d;
	--secondary-color: #526d82;
	--third-color: #9db2bf;
	--text-color: #fff;
	--font-size: 20px;
} */

.hidden {
	display: none;
}

.logo-text {
	font-family: "Italiana", sans-serif;
	font-size: 9rem;
}

.text-color {
	color: var(--text-color);
}

.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

.third-color {
	color: var(--third-color);
}

.highlight-color {
	color: var(--highlight);
}

.button-color {
	background-color: var(--button-green);
}

.button-color:hover {
	background-color: var(--button-hover);
}

.remove-button-color {
	background-color: var(--secondary-color);
}

.remove-button-color:hover {
	background-color: rgb(250, 65, 65);
}

.background-color {
	background-color: var(--third-color);
	color: var(--text-color);
	height: 100%;
}

.editBtn {
	background-color: var(--third-color);
	color: var(--text-color);
	border: none;
}

.front-page {
	background-color: #333;
	color: var(--text-color);
	height: 100vh;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh; /* Set the height of the container to 100% of the viewport height */
}
.login-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh; /* Set the height of the container to 100% of the viewport height */
}

.login-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.footer {
	background-color: #555;
	color: var(--text-color);
	text-align: center;
}

.login-button:hover {
	background-color: #3f9040;
}

.logo {
	font-family: "Italiana", sans-serif;
	color: var(--text-color) !important;
	font-size: 30px !important;
	text-decoration: none;
}
.navbar {
	background-color: var(--secondary-color);
}

.collapse-menue {
	background-color: var(--secondary-color);
	width: 100%; /* Set the width to 100% to fill the entire navbar */
	position: absolute; /* Use absolute positioning to overlay the menu */
	top: 100%; /* Position the menu just below the navbar */
	left: 0; /* Align the menu to the left edge of the navbar */
	display: block;
	z-index: 1; /* Ensure the menu appears above other content */
}

.navbar-link {
	color: var(--text-color);
	text-decoration: none;
	padding: 5px 10px;
}

.navbar-link:hover {
	color: var(--highlight) !important;
}

.navbar-link-mobile {
	margin-bottom: 10px;
	font-size: 24px;
}

.navbar-toggler {
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-color: var(--text-color) !important;
}

.bar {
	width: 100%;
	height: 2px;
	background-color: var(--text-color);
	margin: 35% 0;
	transition: 0.4s;
}

/* Add styles for the "active" or "open" state if needed */
.navbar-toggler.active .bar:nth-child(1) {
	transform: translateY(10.5px) rotate(45deg);
}

.navbar-toggler.active .bar:nth-child(2) {
	opacity: 0;
}

.navbar-toggler.active .bar:nth-child(3) {
	transform: translateY(-10.5px) rotate(-45deg);
}

.collapse-menue-items {
	padding-bottom: 8px;
}

.noDecoration {
	text-decoration: none;
}

.seperationLine {
	border-bottom: 1px solid #555;
	margin: 5px auto;
	max-width: 75%;
	/* padding-bottom: 5px; */
}

.table-scroll {
	overflow-x: auto;
}
.sticky-row {
	position: sticky;
	left: 0;
	background-color: rgb(83, 55, 55); /* Adjust as needed */
	z-index: 1000; /* Adjust as needed */
}

.table {
	width: 100%;
	border-collapse: collapse;
	--bs-table-bg: none;
}
.table-container {
	max-width: 80%; /* Adjust the value as needed */
	overflow-x: auto;
	overflow-y: hidden; /* Hide vertical scrollbar */
}
.employee-column {
	position: sticky;
	left: 0;
	background-color: #fff;
	width: 200px;
}

/* Style for table header cells */
.table th {
	background-color: #f2f2f2;
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

/* Style for table body cells */
.table td {
	border: 1px solid #ddd;
	padding: 8px;
	text-align: center;
}

/* Style for last coloumn */
/* .table tbody td:last-child {
	background-color: rgb(233, 255, 233);
} */

.table tbody tr:nth-child(odd) td:last-child {
	background-color: rgb(98, 149, 98);
}
/* Style for last coloumn */
/* .table tbody td:first-child {
	background-color: #f2f2f2;
} */

/* Style for alternating rows */
.table tbody tr:nth-child(even) {
	background-color: #f7efef;
}
.table tbody tr:nth-child(odd) {
	background-color: #b49191;
}

.table tfoot {
	background-color: rgb(144, 218, 115) !important;
}

/* .scrollableContainer {
	max-height: 625px;
	overflow-y: auto;
	overflow-x: hidden;
} */
