@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
}

:root {
	--primary-color: #ab4848;
	--secondary-color: #d02828;
	--third-color: #333;
	--text-color: #fff;
	--highlight: #e7ae1c;
	--button-green: #186f1c;
	--button-hover: #27b02e;
	--font-size: 20px;
}

/* :root {
	--primary-color: #27374d;
	--secondary-color: #526d82;
	--third-color: #9db2bf;
	--text-color: #fff;
	--font-size: 20px;
} */

.logo-text {
	font-family: "Italiana", sans-serif;
	font-size: 10rem;
}

.text-color {
	color: var(--text-color);
}

.primary-color {
	color: var(--primary-color);
}

.secondary-color {
	color: var(--secondary-color);
}

.third-color {
	color: var(--third-color);
}

.button-color {
	background-color: var(--button-green);
}

.button-color:hover {
	background-color: var(--button-hover);
}

.background-color {
	background-color: var(--third-color);
	color: var(--text-color);
	height: 100%;
}

.front-page {
	background-color: #333;
	color: var(--text-color);
	height: 100vh;
}

.logo-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh; /* Set the height of the container to 100% of the viewport height */
}
.login-button-container {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50vh; /* Set the height of the container to 100% of the viewport height */
}

.login-button {
	padding: 10px 20px;
	font-size: 16px;
	background-color: #4caf50;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	text-decoration: none;
}

.login-button:hover {
	background-color: #3f9040;
}

.logo {
	font-family: "Italiana", sans-serif;
	color: var(--text-color) !important;
	font-size: 30px !important;
	text-decoration: none;
}
.navbar {
	background-color: var(--secondary-color);
}

.collapse-menue {
	background-color: var(--secondary-color);
	width: 100%; /* Set the width to 100% to fill the entire navbar */
	position: absolute; /* Use absolute positioning to overlay the menu */
	top: 100%; /* Position the menu just below the navbar */
	left: 0; /* Align the menu to the left edge of the navbar */
	display: block;
	z-index: 1; /* Ensure the menu appears above other content */
}

.navbar-link {
	color: var(--highlight);
	text-decoration: none;
	padding: 5px 10px;
}

.navbar-link:hover {
	color: var(--text-color) !important;
}

.navbar-toggler {
	display: block;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-color: var(--text-color) !important;
}

.bar {
	width: 100%;
	height: 2px;
	background-color: var(--text-color);
	margin: 35% 0;
	transition: 0.4s;
}

/* Add styles for the "active" or "open" state if needed */
.navbar-toggler.active .bar:nth-child(1) {
	transform: translateY(10.5px) rotate(45deg);
}

.navbar-toggler.active .bar:nth-child(2) {
	opacity: 0;
}

.navbar-toggler.active .bar:nth-child(3) {
	transform: translateY(-10.5px) rotate(-45deg);
}

.collapse-menue-items {
	padding-bottom: 8px;
}

.noDecoration {
	text-decoration: none;
}
